@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');



body{

    background-color: #fff;

}

.headerbanner{

    background-image: linear-gradient(to right top, #373B44,#4286f4,#4286f4);

    padding: 20px;

    height: 200px;

}

.headerbanner h2,.headerbanner h1{

    font-family: 'Ubuntu',sans-serif;

    font-size: 50px;

    color: #fff;

    line-height: 1;

}

.headerbanner p{

    font-family: 'Ubuntu',sans-serif;

    font-size: 16px;

    color: #fff;

    line-height: 1.6;

}

.headerbanner .nextBtn{

    border: none;

    padding: 7px 10px;

    border-radius: 3px;

    background-color: rgb(240, 159, 10);

    color: #fff;

    font-family: 'Roboto',sans-serif;

    box-shadow: -2px 4px 8px rgb(63, 63, 63);



}

.headerbanner img{

    width: 250px;

    position: absolute;

    z-index: 200;

    top: 0px;

    right: 4vw;

}

@media screen and (max-width: 524px){
    .headerbanner img{
        display: none;
    }
}

/* -----------Calendar Date Card Start------------------ */

    .cardcal{

        width: 16rem;

        height: 22rem;

        padding: 15px;

        margin: 4px 1px;
        overflow: hidden;
        background-color: #ffffff;

        border-radius: 5px;
        border: 1px solid lightgrey;

    }

    .cardcal span{

        font-family: 'Ubuntu',sans-serif;

        font-weight: 600;

        color: #ccc;

        font-size: 30px;

    }

    .cardcal p{

        font-family: 'Ubuntu',sans-serif;

        font-size: 16px;

        font-weight: 600;

        color: #ccc;

    }

    .cardcal h4{

        font-size: 22px;

        font-family: 'Ubuntu',sans-serif;

        font-weight: 510;

        margin-top: 22px;

    }

    .cardcal .carddesc{

        font-family: 'Roboto',sans-serif;

        font-weight: 400;

        font-size: 16px;

        color: #aaa;

        line-height: 1.2;



    }

    .cardcal button{

        border: none;

        padding: 7px 10px;

        border-radius: 3px;

        background-color: rgb(240, 159, 10);

        color: #fff;

        font-family: 'Roboto',sans-serif;

        margin-top: 40px;

    }

    .cardcal1{

        width: 16rem;

        height: 20rem;

        padding: 15px;

        margin: 4px 1px;

        border-radius: 5px;

    }

    .cardcal1 span{

        font-family: 'Ubuntu',sans-serif;

        font-weight: 600;

        color: #000;

        font-size: 30px;

    }

    .cardcal1 p{

        font-family: 'Ubuntu',sans-serif;

        font-size: 16px;

        font-weight: 600;

        color: #000;

    }

    .cardcal1 h4{

        font-size: 22px;

        font-family: 'Ubuntu',sans-serif;

        font-weight: 510;

        margin-top: 22px;

    }

    .cardcal1 .carddesc{

        font-family: 'Roboto',sans-serif;

        font-weight: 400;

        font-size: 16px;

        color: rgb(114, 114, 114);

        line-height: 1.2;



    }

    .cardcal1 img{

        width: 250px;

        height: 150px;

        border-radius:5px;

    }
    .btnsync{
        margin-top: 43px;
    }
    .btnsync a{
        text-decoration: none;
        color: white;
    }
    .link{      
        text-decoration: none;        
    }
    .icon{
        font-size: 30px;
        margin-top: 16px;
    }
/* -----------Calendar Date Card End------------------ */